/node_modules
/public/hot
/public/storage
/public/js/*
/public/css/*
/storage/*.key
/vendor
.env
.env.backup
.env.copy
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/config
/config/database.php
/.vagrant
.phpunit.result.cache
phploy.ini
