.org-app{
  background-color: transparent;
}

.org-heading {
  color:blue;
  background-color: #a9d37c;
  text-align: center;
  
}


.org-profile {
  color:white;
  text-align: center;
  //background-color: rgb(30, 88, 86);
  //margin:2em;

}

.event-intro {
  display:flex;
  width: 100%;
  justify-content: space-between;
}

.showOrgTripsButton {
  display: flex;
  justify-self: center;
}

.add_trips_to_events {
  display:flex;
  justify-content: center;
  align-items: center;
  //flex-direction: column;


  p {
    padding:0;
    margin:0;
    font-weight: bold;
  }

  &__airport_info {
    flex-direction: column;
    padding:1em .5em;
  }

  
}


.trip_history_table {
  @media(min-width:320px) {
    width:30vw;
    font-size:.5em;

  }
  @media(min-width:800px) {
    width:75vw;
    font-size:1em;

  }
 
}


.delete_event {
  font-size: .9em;
}

.org-help {
  display:flex;
  justify-content: flex-end;
}

// .instructions {

// }

.question{
  color:black;
  display:flex;
  justify-content: flex-end;
}

.instruction {
  color:black;
  background-color: rgba(159, 201, 240,.5);
  padding:1em;

  h5{
    font-style: italic;
  }

}

.org_event_description {
 text-align: left;
}

.totalSummary{
  display:flex;
  justify-content: space-between;
  padding:.3em;
}

.event_history {
  text-align: left;
  background-color: black;
  padding:0;
  margin:0;

  h3 {
    padding:0;
    margin:0;
  }


}
// .org-event {
//   display:flex;
//   flex-direction: column;
//   margin-bottom:2em;
//   border: 1em solid black;
//   text-align: center;
//   //margin:1em;

// }

// .org-trip {
//   display:flex;
//   flex-direction: column;
//   border: .8em solid black;
//   text-align: center;
//   margin:2em;

// }

// .org-summary {
//   background-color: rgb(58, 190, 5);
// }