
.org-heading {
  color:blue;
  background-color: #a9d37c;
  text-align: center;
  
}


.org-profile {
  color:white;
  text-align: center;
  background-color: rgb(30, 88, 86);
  //margin:2em;

}

.event-intro {
  display:flex;
  width: 100%;
  justify-content: space-between;
}

.showOrgTripsButton {
  display: flex;
  justify-self: center;
}
// .org-event {
//   display:flex;
//   flex-direction: column;
//   margin-bottom:2em;
//   border: 1em solid black;
//   text-align: center;
//   //margin:1em;

// }

// .org-trip {
//   display:flex;
//   flex-direction: column;
//   border: .8em solid black;
//   text-align: center;
//   margin:2em;

// }

// .org-summary {
//   background-color: rgb(58, 190, 5);
// }