// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.userprofile {
    color: black;
}


.org-event {
    display:flex;
    flex-direction: column;
    margin-bottom:2em;
    border: 2px dotted black;
    text-align: center;
}

.org-trip {
    display:flex;
    flex-direction: column;
    border: 2px dotted blue;
    text-align: center;
}