// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

//UserProfile
@import "user-profile";

//OrgProfile
@import "org-profile";

.userprofile {
  color: black;
}

.card-header {
  text-align: center;
  font-size: larger;
}

.card-body {
  background-color: rgba(174, 201, 121, 0.281);
}

body {
  background-color: rgb(174, 201, 121);
}

#orgProfile {
  background-color: rgba(174, 201, 121, 0.281);
}
