.CardItem {
  height: 60vh;
  width: 22vw;
  text-align: center;
  margin-top: 2rem;
  transition: 0.6s all;
}

.CardItemsInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;
  height: 60vh;
  margin-top: -2rem;
}

.CardItemsPicture {
  width: 20vw;
  display: block;
  border-radius: 7px;
}

.CardItemsDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 35vh;
}

.CardItemsDetails {
  width: 15.5vw;
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
}

.CardItemsLandingPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22vw;
  height: 60vh;
  padding-bottom: 2rem;
  transition: 0.6s all;
}

.CardItemsLandingPage__links {
  display: flex;
  justify-content: space-evenly;
}

.CardItemsLandingPage__icons {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.CardItemsLandingPage_description {
  max-width: 33ch;
  margin: 0 auto;
}

ul {
  list-style-position: inside;
}

li {
  text-align: start;
  margin-left: 1rem;
}

.CardItemsLandingPage__Alinks {
  text-decoration: none;
  color: black;
  transition: 0.6s all;
  border: 1px solid black;
  padding: 0.25rem;
  border-radius: 7px;
}

.CardItemsLandingPage__Alinks:hover {
  color: white;
  text-decoration: none;
  border: 1px solid white;
}

.Arrow {
  cursor: pointer;
  margin-left: 0.5rem;
  border: 1px solid white;
  padding: 0.25rem;
  border-radius: 7px;
}

@media (max-width: 1100px) {
  .CardItem {
    width: 24vw;
  }
  .CardItemsLandingPage {
    width: 24vw;
  }
}

@media (max-width: 950px) {
  .CardItem {
    width: 26vw;
    height: 50vh;
  }
  .CardItemsLandingPage {
    width: 26vw;
    height: 50vh;
    font-size: 0.9rem;
  }
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 760px) {
  .CardItem {
    width: 27vw;
    height: 45vh;
  }
  .CardItemsLandingPage {
    width: 27vw;
    height: 45vh;
    font-size: 0.75rem;
  }
  h1 {
    font-size: 1.7rem;
  }
}

@media (max-width: 575px) {
  .CardItem {
    height: 33vh;
  }
  .CardItemsLandingPage {
    height: 33vh;
    font-size: 0.6rem;
  }
  h1 {
    font-size: 1.3rem;
  }
}

@media (max-width: 475px) {
  .CardItem {
    height: 29vh;
  }
  .CardItemsLandingPage {
    height: 29vh;
    font-size: 0.5rem;
  }
  h1 {
    font-size: 1.1rem;
  }
  .MuiSvgIcon-root {
    height: 0.6em !important;
    width: 0.6em !important;
  }
}

@media (max-width: 435px) {
  .CardItem {
    width: 29vw;
  }
  .CardItemsLandingPage {
    width: 29vw;
  }
}