.CardItem {
  text-align: center;
  margin-top: 1rem;
  transition: 0.6s all;
  margin-bottom: 1rem;
}

.CardItemsInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CardItemsPicture {
  display: block;
  border-radius: 7px 7px 0 0;
  width: 100%;
  margin-top: -1rem;
}

.CardItemsDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
}

.CardItemsDetails {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.CardItemsLandingPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.6s all;
}

.CardItemsLandingPage__links {
  display: flex;
  justify-content: center;
}

.CardItemsLandingPage__icons {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.CardItemsLandingPage_description {
  max-width: 33ch;
  margin: auto;
  padding: 1rem;
}

.CardItemsLandingPage_features {
  list-style-type: square;
}

ul {
  list-style-position: inside;
}

li {
  text-align: start;
  margin: 0 1rem;
}

.CardItemsLandingPage__Alinks {
  text-decoration: none;
  color: black;
  transition: 0.6s all;
  border: 1px solid black;
  padding: 0.25rem;
  border-radius: 7px;
  margin: 0 1rem;
}

.CardItemsLandingPage__Alinks:hover {
  color: white;
  text-decoration: none;
  border: 1px solid white;
}

.Arrow {
  cursor: pointer;
  margin-left: 0.5rem;
  border: 1px solid white;
  padding: 0.25rem;
  border-radius: 7px;
}

/* @media (max-width: 1100px) {

} */

@media (max-width: 950px) {
  .CardItemsLandingPage {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 2rem;
  }

  .CardItemsDescription {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .CardItemsLandingPage {
    font-size: 0.75rem;
  }
  h1 {
    font-size: 1.7rem;
  }
  ul {
    width: 50%;
    margin: 1rem auto;
  }
}

@media (max-width: 575px) {
  .CardItemsLandingPage {
    font-size: 0.6rem;
  }
  h1 {
    font-size: 1.3rem;
  }
}

@media (max-width: 475px) {
  .CardItem {
    margin-top: 1rem;
  }
  .CardItemsLandingPage {
    font-size: 0.5rem;
  }
  h1 {
    font-size: 1.1rem;
  }
  .MuiSvgIcon-root {
    height: 0.6em !important;
    width: 0.6em !important;
  }
}

@media (max-width: 435px) {
  .CardItemsLandingPage_description {
    padding: 0.5rem;
  }
  .CardItemsDescription {
    font-size: 0.7rem;
  }
}

@media (max-width: 375px) {
  .CardItemsLandingPage {
    font-size: 0.5rem;
  }
  .CardItemsLandingPage__icons {
    margin: 0.6rem;
  }
}
