.FlightSection {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.Warning {
  color: red;
  margin: 0 2rem;
}

.Pagination {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

@media (max-width: 1150px) {
  .FlightSection {
    margin-top: 13rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 760px) {
  .FlightSection {
    margin-top: 12rem;
  }
}

@media (max-width: 760px) {
  .MuiPagination-ul > li {
    margin: 0 0.5rem;
  }
}

@media (max-width: 555px) {
  .FlightSection {
    margin-top: 26rem;
  }
}

@media (max-width: 500px) {
  .MuiPagination-ul > li {
    margin: 0 0.1rem;
  }
}
