.FlightSection {
  display: flex;
  flex-direction: column;
}

.Warning {
  color: red;
}

.Pagination {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

@media (max-width: 797px) {
  .FlightSection {
    margin-top: 16rem;
    margin-bottom: 2rem;
  }
}
