.FlightSearch {
  display: flex;
  flex-direction: column;
}

.FlightSearchTitle {
  height: 10rem;
  margin-bottom: 6rem;
}

.Dropdown {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
}

.DF {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.CheckboxOption {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 35vw;
  margin: 1rem auto;
}

.Blue {
  padding-bottom: 2rem;
  font-weight: 200;
}

.SearchSection {
  color: white;
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #484d37;
}

.DropdownSearch {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1315px) {
  .CheckboxOption {
    width: 45vw;
  }
}

@media (max-width: 1035px) {
  .CheckboxOption {
    width: 65vw;
  }
}
@media (max-width: 797px) {
  .Dropdown {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 95vw;
    height: 46vh;
  }
  .SearchSection {
    flex-direction: column;
    justify-content: space-between;
    background-color: #484d37;
  }
  .FlightSearchTitle {
    margin-top: 2rem;
  }
}
