.FlightSearch {
  display: flex;
  flex-direction: column;
}

.FlightSearchTitle {
  height: 10rem;
  margin-bottom: 6rem;
  margin-top: 1.5rem;
}

.Dropdown {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  margin-left: 10%;
  margin-right: 10%;
}

.AirportSelectionBoxes {
  display: flex;
  justify-content: space-evenly;
}

.DateSelectionBoxes {
  display: flex;
  justify-content: space-evenly;
}

.DF {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.CheckboxOption {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.CheckboxOptionItem {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Blue {
  padding-bottom: 2rem;
  font-weight: 200;
}

.SearchSection {
  color: white;
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #62684d;
}

.DropdownSearch {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1150px) {
  .Dropdown {
    flex-direction: column;
  }
  .AirportSelectionBoxes {
    padding: 1rem;
    width: 70vw;
  }

  .DateSelectionBoxes {
    padding: 1rem;
    width: 80vw;
  }
}

@media (max-width: 797px) {
  .Dropdown {
    justify-content: space-evenly;
    align-items: center;
  }
  .SearchSection {
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 555px) {
  .DateSelectionBoxes {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .AirportSelectionBoxes {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .CheckboxOptionItem {
    width: 100%;
  }
}
