.Flight {
    width: 75vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1.5px solid #3a452e;
    border-right: 1.5px solid #3a452e;
    box-shadow: 1px 2px 2px 2px #3a452edc;
}

.FlightTitle {
    font-size: 1.4rem;
}

.FlightInfo {
    font-size: 1rem;
}

.FlightTime {
    font-size: 0.8rem;
}

.FlightStopovers {
    display: flex;
    flex-direction: column;
}

