.Flight {
  width: 75vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  box-shadow: 2px 3px 4.5px rgba(0, 0, 0, 0.85), -1.5px -1.5px 4.5px rgba(255, 255, 255, 0.85);
  background-color: #62684d;
  animation: slideIn 0.6s;
}
.FlightAirports {
  display: flex;
  justify-content: space-evenly;
  width: 30vw;
}
.FlightDuration {
  display: flex;
  justify-content: space-evenly;
  width: 20vw;
}

.FlightTitle {
  font-size: 1.4rem;
}

.FlightInfo {
  font-size: 1rem;
}

.FlightTime {
  font-size: 0.8rem;
}

.FlightStopovers {
  display: flex;
  flex-direction: column;
}

@keyframes slideIn {
  0% {
    transform: translateX(3%);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@media (max-width: 901px) {
  .Flight {
    width: 95vw;
  }
}
@media (max-width: 701px) {
  .FlightTitle {
    font-size: 1.1rem;
  }

  .FlightInfo {
    font-size: 0.8rem;
  }

  .FlightTime {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .FlightAirports {
    width: 34vw;
  }
}
@media (max-width: 450px) {
  .Flight {
    flex-direction: column;
    margin: auto auto 1rem auto;
    justify-content: space-around;
    height: 45vh;
  }
  .FlightTitle {
    font-size: 1.4rem;
  }

  .FlightInfo {
    font-size: 1rem;
  }

  .FlightAirports {
    width: 70vw;
    justify-content: space-around;
  }
  .FlightDuration {
    width: 70vw;
    justify-content: space-around;
  }
  .FlightStopovers {
    width: 70vw;
    flex-direction: row;
    justify-content: space-around;
  }
}
