.OffsetSection {
  color: white;
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #3a452e;
}

.SelectedFlight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #62684d;
  border-radius: 6px;
  height: 4rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.AddTripToDB {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

.CardItem-Project {
  background-color: #62684d;
  border-radius: 7px;
  box-shadow: 2px 3px 4.5px rgba(0, 0, 0, 0.85), -1.5px -1.5px 4.5px rgba(255, 255, 255, 0.85);
}
.CardItem-Calc {
  background-color: #484d37;
  border-radius: 7px;
  box-shadow: 2px 3px 4.5px rgba(0, 0, 0, 0.85), -1.5px -1.5px 4.5px rgba(255, 255, 255, 0.85);
}
.CardItem-Offset {
  background-color: #3a452e;
  border-radius: 7px;
  box-shadow: 2px 3px 4.5px rgba(0, 0, 0, 0.85), -1.5px -1.5px 4.5px rgba(255, 255, 255, 0.85);
}

.FlightGif {
  margin-top: 2rem;
  border-radius: 7px;
  box-shadow: 2px 3px 4.5px rgba(0, 0, 0, 0.85), -1.5px -1.5px 4.5px rgba(255, 255, 255, 0.85);
}

@media (max-width: 950px) {
  .CardItem-Project {
    margin-right: 4rem;
    margin-left: -2.5rem;
  }
}

@media (max-width: 785px) {
  .CardItem-Project {
    height: 50vh;
  }
  h6 {
    font-size: .7rem;
  }
  .AddTripToDB {
    margin-top: -5rem;
  }
}

@media (max-width: 575px) {
  .FlightGif {
    height: 40vh;
  }
  h6 {
    font-size: .6rem;
  }
}

@media (max-width: 435px) {
  .CardItem-Project {
    height: 40vh;
  }
}
@media (max-width: 395px) {
  .FlightGif {
    height: 30vh;
  }
}

@media (max-width: 475px) {
  .CardItem-Project {
    margin-left: 0.25rem;
    margin-right: 0.5rem;
  }
}
