.Footer {
  position: relative;
  height: 70vh;
  width: 98.9vw;
  background-image: url("/images/woods.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.FooterIcons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.ContactInfo {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}

.Contact {
  padding: 0rem;
}

.ContactPerson {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: greenyellow;
}

code {
  text-decoration: none;
  color: white;
}
