* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-right: none;
}

.Wrapper {
  width: 100%;
}

.WelcomeText {
  position: relative;
  height: 100vh;
  width: 70vw;
  color: white;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.WelcomeTitle {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.WelcomeDescription {
  align-self: flex-start;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

.Video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.Section-CardItems {
  color: white;
  width: 100%;
  height: 70vh;
  background-color: #1f2317;
  position: relative;
  transition: 0.6s all;
}
.CardItems {
  display: flex;
  justify-content: space-between;
  width: 75vw;
  margin: 0 auto;
}

.SearchSection {
  color: white;
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #62684d;
}

@media (max-width: 1445px) {
  .WelcomeTitle {
    font-size: 4rem;
  }
}

@media (max-width: 1250px) {
  .WelcomeTitle {
    font-size: 3.5rem;
  }
}

@media (max-width: 1050px) {
  .WelcomeTitle {
    font-size: 2.7rem;
  }
  .WelcomeDescription {
    font-size: 1.6rem;
  }
}

@media (max-width: 785px) {
  .WelcomeTitle {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .WelcomeDescription {
    font-size: 1.5rem;
  }
  .Section-CardItems {
    height: 70vh;
  }
  .CardItems {
    height: 65vh;
  }
}

@media (max-width: 500px) {
  .WelcomeDescription {
    font-size: 1rem;
  }
}

@media (max-width: 475px) {
  .CardItems {
    width: 85vw;
  }
  .Section-CardItems {
    height: 55vh;
  }
}

@media (max-width: 435px) {
  .WelcomeTitle {
    margin-bottom: 1.5rem;
  }
  .CardItems {
    width: 95vw;
    height: 55vh;
  }
  .Section-CardItems {
    height: 60vh;
  }
}
