* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-right: none;
}

.WelcomeText {
  position: relative;
  height: 100vh;
  width: 70vw;
  color: white;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.WelcomeTitle {
  font-size: 5rem;
  margin-bottom: 3rem;
}

.WelcomeDescription {
  width: 40ch;
  align-self: flex-start;
  font-size: 2rem;
  text-align: start;
  margin-left: 2.5rem;
}

.Video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.Section-CardItems {
  color: white;
  width: 98.9vw;
  height: 70vh;
  background-color: #1f2317;
  position: relative;
}
.CardItems {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
}

.SearchSection {
  color: white;
  position: relative;
  min-height: 100vh;
  width: 98.9vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #62684d;
}

@media (max-width: 1445px) {
  .WelcomeTitle {
    font-size: 4rem;
  }
  .WelcomeDescription {
    margin-left: 6.5rem;
  }
}

@media (max-width: 1250px) {
  .WelcomeTitle {
    font-size: 3.5rem;
  }
}

@media (max-width: 1050px) {
  .WelcomeTitle {
    font-size: 2.7rem;
  }
  .WelcomeDescription {
    font-size: 1.6rem;
  }
}

@media (max-width: 850px) {
  .WelcomeDescription {
    margin-left: 0rem;
  }
}

@media (max-width: 785px) {
  .WelcomeTitle {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .WelcomeDescription {
    font-size: 1rem;
    margin-left: 5rem;
  }
}

@media (max-width: 600px) {
  .WelcomeDescription {
    margin-left: 1rem;
  }
}

@media (max-width: 400px) {
  .WelcomeTitle {
    margin-bottom: 1.5rem;
  }
  .WelcomeDescription {
    width: 20ch;
    margin-left: 3.5rem;
  }
}
@media (max-width: 300px) {
  .WelcomeDescription {
    margin-left: 2.5rem;
  }
}
