.CardItem-About,
.CardItem-Calc,
.CardItem-Offset {
  border-radius: 7px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  width: 30%;
}

.CardItem-About {
  background-color: #62684d;
}

.CardItem-Calc {
  background-color: #484d37;
}

.CardItem-Offset {
  background-color: #3a452e;
}


@media (max-width: 785px) {
  .CardItem-About,
  .CardItem-Calc,
  .CardItem-Offset {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 475px) {
  .CardItem-Calc {
    margin-top: -0.5rem;
  }

  .CardItem-About {
    margin-top: -0.5rem;
  }
  .CardItem-Offset {
    margin-top: -0.5rem;
  }
}
